<style>
	.nav-wrapper ul li a {
	  color: #95e7f7;
	}

	.nav-wrapper ul li a:hover {
		color: pink;
	}
	
</style>

<nav>
    <div class="nav-wrapper" style="background-color: #212121;">
        <ul class="left">
			<li><a href="/"><i class="material-icons">home</i></a></li>
        </ul>

        <ul class="right hide-on-small-only">
			<li><a class="tooltipped" data-position="bottom" data-tooltip="About" style="margin-right: 10px; margin-left: 10px;" href="/about"><i class="material-icons">info</i></a></li>
			<li><a class="tooltipped" data-position="bottom" data-tooltip="Analysis" style="margin-right: 10px; margin-left: 10px;" href="/analysis"><i class="material-icons">bar_chart</i></a></li>
			<li><a class="tooltipped" data-position="bottom" data-tooltip="Stats" style="margin-right: 10px; margin-left: 10px;" href="/stats"><i class="material-icons">trending_up</i></a></li>
            <li><a class="tooltipped" data-position="bottom" data-tooltip="Rec. App" style="margin-right: 10px; margin-left: 10pxcolor: #95e7f7 !important;" href="/recommendation"><i class="material-icons">priority_high</i></a></li>
			<li><a class="tooltipped" data-position="bottom" data-tooltip="Refresh" style="margin-right: 10px; margin-left: 10px;" onClick="window.location.reload()"><i class="material-icons">refresh</i></a></li>
            <!-- <li><a style="margin-right: 10px; margin-left: 10px;" href="mobile.html"><i class="material-icons">more_vert</i></a></li> -->
        </ul>
    </div>
</nav>
